/** @format */
.noti_nember {
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    font-weight: 600;
}
.form_start_game {
    margin-top: 20px;
}
.form_start_game button {
    padding: 8px 18px;
    cursor: pointer;
    background: transparent;
}
.form_start_game input {
    padding: 8px 7px;
}
.form_start_game button:hover {
    background-color: black;
    color: white;
}
canvas {
    margin: 0 auto;
    display: block;
}
