<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
    rel="stylesheet"
  />
  <link href="./index.css" rel="stylesheet" />
  <style>
    * {
      box-sizing: border-box;
      font-family: 'Press Start 2P', cursive;
    }
  </style>
  <script defer src="script.js"></script>
</head>
<body>

  <div class="contain_main_game">
      <canvas width="1024" height="576" id="main_game"></canvas>
    <div class="ngancach"></div>
    <form class="form_start_game">
      <input type='text' placeHolder="room id" />
      <button class="btn" type='button'>join</button>
    </form>
    <div class="form_into_game d_none">
      <p class="noti_nember">Số người trong phòng hiện tại <b></b></p>
      <!-- <p class="noti_player">Nhận vật của bạn: <b></b></p> -->
    </div>
  </div>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"
    integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <!-- <script src="js/utils.js"></script>
  <script src="js/classes.js"></script> -->
  <script src ="socket.io/socket.io.js"></script>
  <script type="module" src="./mainGame.js"></script>

  </script>
</body>
